<mat-card style="border: grey; margin: 5px">
  <mat-card-title (click)="iconClick()"
    ><img
      src="favicon.ico"
      matTooltip="Return to home"
    />&nbsp;Host</mat-card-title
  >
  <mat-card-content>
    <div [formGroup]="hostForm">
      <!-- Times to turn on pump -->
      <div>
        <mat-form-field>
          <input
            matInput
            formControlName="address"
            placeholder="Host Address"
          />
        </mat-form-field>
        <mat-error *ngIf="hostForm.controls['address'].hasError('required')">
          Is required.
        </mat-error>
      </div>
      <div>
        <mat-form-field style="width: 100%">
          <input
            matInput
            formControlName="description"
            placeholder="Host Description"
          />
        </mat-form-field>
        <mat-error
          *ngIf="hostForm.controls['description'].hasError('required')"
        >
          Is required.
        </mat-error>
      </div>
      <!-- Ping -->
      <span class="sectionTitle">Ping</span>
      <div class="gridwrapper2">
        <div>
          <mat-checkbox formControlName="pingActive">Active?</mat-checkbox>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Update Interval</mat-label>
            <mat-select
              formControlName="pingIntervalMinutes"
              [compareWith]="intervalComparisonFunction"
              style="text-align: right"
            >
              <mat-option value="5">5</mat-option>
              <mat-option value="10">10</mat-option>
              <mat-option value="20">20</mat-option>
              <mat-option value="30">30</mat-option>
              <mat-option value="60">60</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <!-- Bing -->
      <span class="sectionTitle">Bing</span>
      <div class="gridwrapper2">
        <div>
          <mat-checkbox formControlName="bingActive">Active?</mat-checkbox>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Update Interval</mat-label>
            <mat-select
              formControlName="bingIntervalMinutes"
              [compareWith]="intervalComparisonFunction"
              style="text-align: right"
            >
              <mat-option value="5">5</mat-option>
              <mat-option value="10">10</mat-option>
              <mat-option value="20">20</mat-option>
              <mat-option value="30">30</mat-option>
              <mat-option value="60">60</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <!-- web -->
      <span class="sectionTitle">Web</span>
      <div class="gridwrapper2">
        <div>
          <mat-checkbox formControlName="webActive">Active?</mat-checkbox>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Update Interval</mat-label>
            <mat-select
              formControlName="webIntervalMinutes"
              [compareWith]="intervalComparisonFunction"
              style="text-align: right"
            >
              <mat-option value="5">5</mat-option>
              <mat-option value="10">10</mat-option>
              <mat-option value="20">20</mat-option>
              <mat-option value="30">30</mat-option>
              <mat-option value="60">60</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-checkbox formControlName="webHttps">Https?</mat-checkbox>
        </div>
        <div>
          <mat-form-field>
            <input matInput formControlName="webURL" placeholder="URL" />
          </mat-form-field>
        </div>
        <div></div>
        <div>
          <mat-form-field>
            <input matInput formControlName="webMatch" placeholder="Match" />
          </mat-form-field>
        </div>
      </div>
      <button
        mat-stroked-button
        (click)="doAction(action)"
        style="margin-top: 5px; background-color: lightgreen"
      >
        {{ action | titlecase }}
      </button>
      <button
        mat-stroked-button
        (click)="doAction('delete')"
        *ngIf="action == 'update'"
        matTooltip="Click to delete host!"
        style="
          margin-top: 5px;
          float: right;
          background-color: palevioletred;
          color: white;
        "
      >
        Delete
      </button>
    </div>
  </mat-card-content></mat-card
>
